.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 1rem;
  gap: 10px;

  &__button {
    background-color: #d31216;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #d31216;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  &__info {
    font-size: 1rem;
    color: #333;
  }
}
